<html>
<head>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
</head>
<body>
	<h3>Welcome to PerfectPDF!</h3>
	<p>Thank you for trying out PerfectPDF, the easiest way to generate PDFs from MVC actions and Razor templates!</p>
</body>
</html>