@model dynamic

@{
	ViewBag.Title = "Secret Page!";
}

<h2>
	Welcome, @User.Identity.Name!
	<span class="pull-right">
		@(Html.ActionLink<SecureController>(c => c.PrintSecretPage(), "Print PDF", new{@class="btn btn-primary"}))
	</span>
</h2>
<p class="lead well">This is a secret page!</p>
<p>Only users that are logged in can see this.</p>
<p>Here's a value from session: @Session["LastAccess"]</p>